*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-family);
    font-weight: 400;
}

.container {
    margin: 0 auto;
    padding-inline: var(--container-offset);
    max-width: calc(var(--container-width) + (var(--container-offset) * 2));
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
