.brand-info {
    padding: 60px 0;
}

.brand-info__content {
    display: flex;
    gap: 16px;
}

.brand-info__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    color: var(--white);
}

.brand-info__text,
.brand-info__image {
    width: calc((100% - 19px) / 2);
}

.brand-info__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px;
    padding-right: 75px;
    padding-bottom: 54px;
    background: var(--dark-primary);
    color: var(--white);
}

.brand__info-description {
    font-family: var(--font-family);
    margin: 0;
    font-weight: 400;
    font-size: 18px;
}

.brand-info__pic {
    display: block;
    width: 100%;
    object-fit: cover;
}

.brand-info__btn {
    margin-top: auto;
}
