.cart {
    padding: 84px 0;
    background-color: var(--light-gray);
}

.cart__content {
    padding: 72px 63px;
    padding-bottom: 54px;
    background-color: var(--white);
}

.cart__table {
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 28px;
}

.cart-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 7px;
}

.cart__col {
    grid-column: 6 span;
}

.cart__col--quantity {
    grid-column: 2 span;
    padding-left: 75px;
}

.cart__col--total {
    grid-column: 2 span;
    display: flex;
    justify-content: flex-end;
}

.cart__row:not(:last-of-type) {
    margin-bottom: 32px;
}

.cart__row.cart__row--heading {
    margin-bottom: 28px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--light-gray);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--dark-primary);
}

.cart__col--image {
    grid-column: 1 span;
}

.cart__col--info {
    grid-column: 5 span;
}

.cart__title {
    margin: 0;
    margin-bottom: 8px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-primary);
}

.cart__description {
    margin: 0;
    width: 205px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--dark-primary);
}

.cart__price {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
}

.cart__total {
    padding-top: 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--dark-primary);
}

.cart__info {
    padding-top: 12px;
    padding-left: 17px;
}

.cart__stepper {
    padding-top: 12px;
}

.cart__bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__subtotal {
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    color: var(--primary);
}

.cart__subtotal-price {
    margin-left: 16px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-align: right;
    color: var(--dark-primary);
}

.cart__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    color: var(--primary);
}

.cart__btn-wrap {
    display: flex;
    justify-content: flex-end;
}
