.custom-checkbox {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    user-select: none;
}

.custom-checkbox__input {
    position: absolute;
    opacity: 0;
}

.custom-checkbox__input:focus {
    outline: none;
}

.custom-checkbox__input:focus-visible + .custom-checkbox__icon {
    outline: 2px dashed var(--primary);
    outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
    .custom-checkbox__input:hover {
        color: var(--primary);
    }
}

.custom-checkbox__input:active {
    color: var(--border-dark);
}

.custom-checkbox__icon {
    position: relative;
    flex-shrink: 0;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    width: 16px;
    height: 16px;
}

.custom-checkbox__icon::after {
    content: "";
    position: absolute;
    z-index: 2;
    inset: -1px;
    background-image: url("../../images/svg/check.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .2s ease;
}

.custom-checkbox__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
}

.custom-checkbox__input:checked + .custom-checkbox__icon::after {
    opacity: 1;
}
