.form {
    display: flex;
    align-items: center;
}

.form__input {
    outline: none;
    border: none;
    border: none;
    width: 354px;
    height: 56px;
    font-weight: 400;
    padding-left: 32px;
    font-size: 16px;
    background-color: var(--light-gray);
}

.form__input::placeholder {
    color: rgba(42, 37, 75, 0.2);
}
