.form {
    display: flex;
    align-items: center;
}

.form__input {
    outline: none;
    border: none;
    border: none;
    width: 354px;
    height: 56px;
    font-weight: 400;
    padding-left: 32px;
    font-size: 16px;
    background-color: var(--light-gray);
}

.form__input::placeholder {
    color: rgba(42, 37, 75, 0.2);
}

.form__input:focus {
    outline: none;
}

.form__input:focus-visible {
    outline: 2px dashed var(--primary);
    outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
    .form__input:hover {
        color: var(--primary);
    }
}

.forn__input:active {
    color: var(--border-dark);
}
