.header {

}

.header__container {
    display: flex;
}

.header__top-container {
    align-items: center;
    justify-content: space-between;
}

.header__bottom-container {
    align-items: center;
    justify-content: center;
}

.header__details, .header__list {
    display: flex;
    align-items: center;
}

.header__list {
    gap: 32px;
}

.header__link {
    font-weight: 400;
    font-size: 14px;
    color: #726e8d;
}
