.inner-hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-hero__content {
    display: flex;
    align-items: flex-end;
    padding-bottom: 36px;
    min-height: 209px;
}

.inner-hero__title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-style: 36px;
    line-height: 140%;
    color: var(--white);
}

.inner-hero--all {
    background-image: url("../../images/jpg/catalog-header.jpg");
}
