.notice {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    justify-content: center;
    gap: 8px;
    background: var(--dark-primary);
}

.notice--hidden {
    display: none;
}

.notice__close {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-trs);
}

.notice__close svg {
    display: block;
}

.notice__close:focus {
    outline: none;
}

.notice__close:focus-visible {
    outline: 2px dashed var(--primary);
    outline-offset: var(--outline-offset);
}

@media (any-hover: hover) {
    .notice__close:hover {
        color: var(--primary);
    }
}

.notice__close:active {
    color: var(--border-dark);
}

.notice__text {
    color: var(--white);
}
