.stepper {
    display: flex;
    width: 112px;
    background: var(--white);
}

.stepper__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 42px;
    flex-shrink: 0;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 16px;
    color: var(--border-grey);
    color: var(--dark-primary);
}

.stepper__input {
    width: calc(100% - 84px);
    border: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: var(--dark-primary);
}
