.title {
    margin: 0;
    font-family: var(--second-family);
    color: var(--dark-primary);
    font-weight: 400;
}

.title--small {
    font-size: 24px;
    line-height: 140%;
}

.title--centered {
    text-align: center;
}

.title-large {
    font-size: 32px;
}

.title--mb-small {
    margin-bottom: 32px;
}

.title--mb-small-xs {
    margin-bottom: 16px;
}

.title--mb-large {
    margin-bottom: 50px;
}

.title--large-xl {
    font-size: 36px;
}
